# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc
*.pyo

# Virtual environment
venv/
ENV/
env/
.env

# Streamlit cache and temp
.cache/
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Shell/terminal history
.history
