# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.env.*
venv/
.venv/
conda-meta/

# Databases
*.db
*.sqlite3

# Testing
.pytest_cache/
.coverage

# OS / Editor
.DS_Store
.vscode/
.idea/

# Git
.git/
