# ---------------------------
# Python Artifacts
# ---------------------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc
*.pyo

# ---------------------------
# Virtual Environment
# ---------------------------
venv/
ENV/
env/
.env

# ---------------------------
# Streamlit Cache & Temp
# ---------------------------
.cache/
.streamlit/

# ---------------------------
# Jupyter Notebook Checkpoints
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# OS Files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Logs
# ---------------------------
*.log

# ---------------------------
# History / Editor Files
# ---------------------------
.history/
*.swp
*.swo
*.bak

# ---------------------------
# Other temporary / system files
# ---------------------------
*.tmp
*.temp
